# Einführung
Dies ist das erste Jupyter Notebook für den Data-Science-Kurs. Das schöne daran ist, dass man Text schreiben kann wie in einem wissenschaftlichen Bericht, aber auch gleich den Python-Code direkt einbetten.
# Code
Das folgende ist ein einfaches Beispiel für den Python code:

In [11]:
a = 3.4
b = 2.1

print(a+b)

5.5

In [4]:
import pandas as pd
kassel = pd.read_csv('Forschungsdaten_03_csv.csv', index_col=0, sep=";")
print(kassel)

      EWgesamt  EWunter30  EW30bis60  EWueber60  HHgesamt  1PHHgesamt  \
2007    192121      49052      45602      42072    102003       49692
2008    191959      49004      45549      42397    102384       50656
2009    192241      49177      45515      42510    102867       50467
2010    193112      49393      45524      42466    103884       51726
2011    194109      49623      45862      42588    102343       50814
2012    195422      49521      46600      42695    103825       52210
2013    196758      66270      51125      49662    105889       54076
2014    197092      66596      80572      49924    106459       54653
2015    200507      68790      81453      50264    108082       56145
2016    201907      69862      81458      50587    108913       56541
2017    204021      70873      82160      50988    109533       56669

      1PHHunter30  1PHH30bis60  1PHHueber60
2007        11660        21157        16875
2008        12451        22425        15780
2009        12355        21226        16886
2010        12782        21735        17209
2011        12782        22026        16006
2012        13238        22628        16344
2013        14165        23223        16688
2014        14341        23392        16920
2015        14918        24173        17054
2016        15110        23939        17492
2017        14920        23991        17758

Wenn man Shift+Enter drückt, wird der Code ausgeführt und man erhät das Ergebnis.

# Diskussion
Sind 2 und 2 wirklich immer 4? Diese spannende Frage ist nicht so trivial, wie sie scheint, und wird von Muller et al. (2010) ausführlich erörtert.

# Literaturangaben
Muller, J.-M., Brisebarre, N., de Dinechin, F., Jeannerod, C.-P., Lefèvre, V., Melquiond, G., Revol, N., Stehlé, D., Torres, S. (2010). Handbook of floating-point arithmetic. Heidelberg: Springer Nature.

In [16]:
frage1=kassel[["Haushalte_insgesamt", "1-Prs.haushalte"]]

In [17]:
print(frage1)

      Haushalte_insgesamt  1-Prs.haushalte
2007               102003            49692
2008               102384            50656
2009               102867            50467
2010               103884            51726
2011               102343            50814
2012               103825            52210
2013               105889            54076
2014               106459            54653
2015               108082            56145
2016               108913            56541
2017               109533            56669

In [25]:
print((frage1["1-Prs.haushalte"] / frage1["Haushalte_insgesamt"]) * 100)

2007    48.716214
2008    49.476481
2009    49.060437
2010    49.792076
2011    49.650684
2012    50.286540
2013    51.068572
2014    51.337134
2015    51.946670
2016    51.913913
2017    51.736919
dtype: float64

In [5]:
## inhaltliche Hypothese: Je höher der Anteil an 1Personenhaushalten desto höher der Anteil der Ü60-Jährigen.
## statistische Hypothese: Vermutet wird ein positiver Korrelationskoeffizient zwischen Var1 und Var2.
##Var1 = 1PHHgesamt / HHgesamt
##Var2 = EWueber60 / EWgesamt  
kassel["Rel1PHH"] = kassel["1PHHgesamt"] / kassel["HHgesamt"]
print(kassel)

      EWgesamt  EWunter30  EW30bis60  EWueber60  HHgesamt  1PHHgesamt  \
2007    192121      49052      45602      42072    102003       49692
2008    191959      49004      45549      42397    102384       50656
2009    192241      49177      45515      42510    102867       50467
2010    193112      49393      45524      42466    103884       51726
2011    194109      49623      45862      42588    102343       50814
2012    195422      49521      46600      42695    103825       52210
2013    196758      66270      51125      49662    105889       54076
2014    197092      66596      80572      49924    106459       54653
2015    200507      68790      81453      50264    108082       56145
2016    201907      69862      81458      50587    108913       56541
2017    204021      70873      82160      50988    109533       56669

      1PHHunter30  1PHH30bis60  1PHHueber60   Rel1PHH
2007        11660        21157        16875  0.487162
2008        12451        22425        15780  0.494765
2009        12355        21226        16886  0.490604
2010        12782        21735        17209  0.497921
2011        12782        22026        16006  0.496507
2012        13238        22628        16344  0.502865
2013        14165        23223        16688  0.510686
2014        14341        23392        16920  0.513371
2015        14918        24173        17054  0.519467
2016        15110        23939        17492  0.519139
2017        14920        23991        17758  0.517369

In [6]:
kassel["RelEW60"] = kassel["EWueber60"] / kassel["EWgesamt"]
print(kassel)

      EWgesamt  EWunter30  EW30bis60  EWueber60  HHgesamt  1PHHgesamt  \
2007    192121      49052      45602      42072    102003       49692
2008    191959      49004      45549      42397    102384       50656
2009    192241      49177      45515      42510    102867       50467
2010    193112      49393      45524      42466    103884       51726
2011    194109      49623      45862      42588    102343       50814
2012    195422      49521      46600      42695    103825       52210
2013    196758      66270      51125      49662    105889       54076
2014    197092      66596      80572      49924    106459       54653
2015    200507      68790      81453      50264    108082       56145
2016    201907      69862      81458      50587    108913       56541
2017    204021      70873      82160      50988    109533       56669

      1PHHunter30  1PHH30bis60  1PHHueber60   Rel1PHH   RelEW60
2007        11660        21157        16875  0.487162  0.218987
2008        12451        22425        15780  0.494765  0.220865
2009        12355        21226        16886  0.490604  0.221129
2010        12782        21735        17209  0.497921  0.219903
2011        12782        22026        16006  0.496507  0.219403
2012        13238        22628        16344  0.502865  0.218476
2013        14165        23223        16688  0.510686  0.252401
2014        14341        23392        16920  0.513371  0.253303
2015        14918        24173        17054  0.519467  0.250685
2016        15110        23939        17492  0.519139  0.250546
2017        14920        23991        17758  0.517369  0.249915

In [7]:
##Korrelationskoeffizienten berechnen
kassel["Rel1PHH"].corr(kassel["RelEW60"])

0.9056696482355895

In [ ]:
##Seltsam. Was ist bei der Datenerfassung von 2012 zu 2013 passiert? Warum wurde Kassel für alte Menschen so attraktiv? >> Nachfragen
## Ideen: Idee 1: Mediansplit im Alter und Idee 2: splitten unter 2012 und über 2013