# Gruppe A:

#### “Hat sich im Zuge des Bevölkerungsanstieges der Stadt Magdeburg seit 2004 bis 2017 die Zusammensetzung der Bevölkerung verändert?”

###### Unterfragen: 
1. Wie setzt(e) sich die Bevölkerung im Jahr 2004 gegenüber der Bevölkerung im Jahr 2017 ethnisch und demografisch zusammen?
2. Wird der Bevölkerungszuwachs bis 2017 von einer oder mehreren bestimmten Bevölkerungsgruppen hauptsächlich getragen?
3. Hat sich die ethnische und demografische Zusammensetzung der Bevölkerung in den Stadtteilen verändert?
4. Hat die starke Einwanderung von Geflüchteten nach Deutschland 2014/15 zu einem vermehrten Bevölkerungsanstieg bei der Ausländischen Bevölkerung in Magdeburg geführt?

###### weitere Unterfragen: 

1. Hängt das Bevölkerungswachstum mit einer guten wirtschaftlichen Entwicklung der Stadt zusammen?

        Relevante Quellen: 
        Anzahl IHK-Firmen (ab 2007) 
        Einzelhandel in Magdeburg (ab 2007) 
        Handwerksbetriebe in Magdeburg (ab 2007) 
        Gewerbeanmeldungen (ab 2010)
        Gewerbeabmeldungen (ab 2010) 
        Arbeitslose (ab 2005) 
        Sozialversicherungspflichtige (ab 2005) 

2. Wie haben sich die eingewanderten Menschen in den Stadtteilen verteilt? Gibt es unterschiedliche Präferenzen bei der einheimischen und ausländischen Bevölkerung?

3. Führt ein steigender Anteil der Ausländischen Bevölkerung in den (3?) Stadtteilen mit dem höchsten Ausländeranteil zu sinkenden Zuzügen der einheimischen Bevölkerung?

        Relevante Quellen: 
        Einwohner  
        Ausländische Bevölkerung
        Zuzüge
        Wegzüge

4. Hat der Zuzug von Geflüchteten zu einer messbaren Erhöhung der Kriminalitätsrate geführt?

        Relevante Quellen: 
        Polizeiliche Kriminalstatistik (PKS) (ab 1953, Rohdaten ab 2012) 
        Quelle: https://www.bka.de/DE/AktuelleInformationen/StatistikenLagebilder/PolizeilicheKriminalstatistik/pks_node.html

# Inhaltsverzeichnis

1. Titel
2. Zusammenfassung/Abstrakt mit Stichwörtern?
3. Inhaltsverzeichnis/Verzeichnisse
4. Einführung, Motivation + Ziel, Eingrenzung, Fragestellung 
5. State of the Art/Forschungsstand (Theorie zur Methode und Data Science) 
6. Methode, Datenauswahl 
7. Ergebnis 
8. Analyse + Interpretation 
9. Fazit + Ausblick 
10. Literatur- und Quellenverzeichnis
11. Abbildungsverzeichnis
12. Datenquellenverzeichnis
13. Eidesstattliche Erklärung
14. Anhang
15. I FDM-Plan rdmo.fh-potsdam.de
16. II Data Policy?
17. III Daten - aufbereiten & strukturieren 
18. IV Technische Dokumentation (Jupyter)

## Grundlage: 
 2017: 241.769 (+6,69% seit 2004; +5,29% seit 2007 ) <br>
 2007: 229.631 <br>
 2004: 226.610 <br>

2004 hatte Magdeburg mit 226.610 Einwohnern den geringsten Einwohnerwert seit der Wiedervereinigung erreicht (Anm. noch mit Quelle belegen, Henning). Seitdem ist die Bevölkerungszahl wieder kontinuierlich gestiegen. 2017 lebten mit 241.769 Einwohnern 6,69% mehr Menschen in der Stadt als noch 2004. Die 5. Regionalisierte Bevölkerungsprognose (RBP) für Sachsen-Anhalt ging 2008 noch von einer Stadtbevölkerung von 232.154 Einwohnern im Jahr 2017 aus. Diese Prognose ging mit einem stetigen Bevölkerungsrückgang in den darauffolgenden Jahre einher. (Quelle: https://www.destatis.de/GPStatistik/servlets/MCRFileNodeServlet/STHeft_derivate_00000013/6A111_2008_2025.pdf, S. 25). Der 2006 von der Bertelsmann Stiftung publizierte “Wegweiser Demographischer Wandel 2020” ging sogar noch einen Schritt weiter und prognostizierte für das Jahr 2020 einen Bevölkerungsrückgang um 11,2%, verglichen mit dem Stichjahr 2003. Dies entspricht, bei einer Bevölkerung von ursprünglich 227.129 Menschen (Stand: 2003), insgesamt 201.691 Einwohner. (Quelle: http://shrinking.ums-riate.fr/Ressources/Chap_07/SCH_06.pdf, S. 43)

#### Zum Vergleich:
Gesamtwachstum der Bevölkerung von Deutschland (Ende 2016 auf Ende 2017): +0,3 %
Gesamtwachstum der Bevölkerung im Land Sachsen-Anhalt (Ende 2016 auf Ende 2017): -0,6 %
(https://www.destatis.de/DE/PresseService/Presse/Pressemitteilungen/2018/09/PD18_347_12411.html)
Wachstum der Bevölkerung in Magdeburg (Ende 2016 auf Ende 2017):  ca. 0.26% → entspricht fast dem Bundesdurchschnitt und nicht dem Trend auf Landesebene
(Quelle: https://www.magdeburg.de/extern/statistik/stadtteilkatalog/atlas.html)

In [3]:
#EInlesen des Forschungsdatensatz
import pandas as pd
magew = pd.read_csv("FD_Magdeburg_002.csv", sep = ';')
print(magew)

    Stadtteil-Nr.       Stadtteilname  EW_2004  EW_2005  EW_2006  EW_2007  \
0               1            Altstadt    12786  13580.0    13892    14140
1               2              Werder     2490   2594.0     2691     2663
2               4       Alte Neustadt     9050   9183.0     9347     9534
3               6       Neue Neustadt    13572  13566.0    13583    13631
4               8      Neustädter See    11902  11784.0    11829    11784
5              10         Kannenstieg     6877   6735.0     6676     6594
6              12     Neustädter Feld     9828  10011.0     9980     9946
7              14          Sülzegrund        9      NaN        9        7
8              18            Nordwest     4547   4511.0     4522     4544
9              20      Alt Olvenstedt     3945   4111.0     4262     4278
10             22      Neu Olvenstedt    14257  13488.0    12733    12017
11             24       Stadtfeld Ost    22225  22912.0    23506    23923
12             26      Stadtfeld West    14367  14528.0    14844    14833
13             28            Diesdorf     3418   3412.0     3448     3415
14             30           Sudenburg    16549  16800.0    16862    16979
15             32         Ottersleben     9795   9934.0    10017    10198
16             34            Lemsdorf     2050   2200.0     2209     2139
17             36    Leipziger Straße    13981  14449.0    14365    14375
18             38              Reform    14086  13715.0    13438    13224
19             40        Hopfengarten     4528   4663.0     4668     4658
20             42   Beyendorfer Grund       10     11.0        7        8
21             44              Buckau     4340   4362.0     4418     4488
22             46        Fermersleben     3108   3164.0     3345     3358
23             48              Salbke     3999   3970.0     3904     3942
24             50         Westerhüsen     3121   3139.0     3112     3089
25             52           Brückfeld     3019   3051.0     3073     3039
26             54   Berliner Chaussee     2134   2163.0     2211     2200
27             56              Cracau     8402   8515.0     8532     8514
28             58             Prester     1891   1914.0     1978     1992
29             60          Zipkeleben       14     15.0       15       16
30             64          Herrenkrug      913    952.0      976      975
31             66           Rothensee     2727   2701.0     2681     2702
32             68      Industriehafen       47     51.0       36       53
33             70  Gewerbegebiet Nord        5      NaN        4        5
34             72        Barleber See       75     75.0       71       70
35             74              Pechau      582    571.0      558      569
36             76   Randau-Calenberge      575    562.0      551      549
37             78    Beyendorf-Sohlen     1232   1209.0     1213     1180

    EW_2008  EW_2009  EW_2010  EW_2011  EW_2012  EW_2013  EW_2014  EW_2015  \
0     14532    14863    14982    15263    15526    15620    15874    16060
1      2709     2759     2893     2964     3021     2986     3012     3055
2      9641     9794    10124    10321    10651    10727    10951    11451
3     13757    13684    13674    13765    13897    14189    14411    15086
4     11557    11608    11568    11529    11448    11404    11294    11307
5      6383     6363     6274     6157     6059     6014     6099     6220
6      9847     9683     9665     9656     9642     9675     9662     9655
7        10       10       10       10       10        9        9        8
8      4609     4726     4744     4738     4761     4750     4744     4746
9      4199     4151     4103     4073     4034     4006     3974     3954
10    11741    11345    10855    10700    10519    10486    10556    10858
11    24170    24363    25180    25443    25558    25735    25764    25958
12    14703    14849    15108    14982    14974    14955    14821    15004
13     3387     3404     3431     3441     3438     3446     3483     3522
14    17041    17196    17387    17435    17355    17583    17666    17631
15    10226    10410    10442    10470    10515    10573    10542    10525
16     2137     2124     2191     2182     2142     2175     2188     2182
17    14243    14289    14153    14209    14352    14608    14596    15147
18    12946    12662    12402    12327    12326    12242    12230    12049
19     4635     4656     4632     4611     4614     4604     4654     4773
20       14       14       14       17       19       16       15       17
21     4638     4642     4848     5058     5268     5511     5830     6100
22     3367     3345     3314     3313     3391     3379     3367     3478
23     3866     3936     3928     3925     3945     3966     3997     4146
24     3082     3015     3036     3036     3075     3131     3197     3213
25     3041     2980     2991     2957     3033     2994     2995     2945
26     2174     2155     2149     2172     2174     2204     2229     2247
27     8427     8495     8510     8425     8485     8278     8326     8335
28     2004     2069     2096     2149     2148     2141     2107     2107
29       21       25       30       34       35       35       36       40
30      980      953      966      942      979      992     1013     1058
31     2738     2829     2884     2929     2868     2837     2834     2907
32       51       38       40       34       45       42       40      110
33        4        5        3       13        8       12        7        9
34       66       70       70       67       69       60       60       60
35      571      564      565      564      554      546      552      539
36      549      539      542      533      549      555      553      540
37     1167     1181     1175     1176     1173     1183     1170     1170

    EW_2016  EW_2017
0     16098    16195
1      3059     3036
2     11443    11425
3     15639    15724
4     11613    11574
5      6333     6134
6      9867     9830
7         8        8
8      4625     4671
9      3938     3933
10    11207    11521
11    26116    26291
12    14733    14729
13     3539     3499
14    18070    18302
15    10583    10551
16     2188     2230
17    15302    15242
18    12046    11934
19     4754     4723
20       16       17
21     6240     6376
22     3588     3653
23     4387     4337
24     3243     3300
25     2991     2978
26     2311     2313
27     8466     8446
28     2103     2129
29       94      148
30     1249     1245
31     2752     2769
32      184      137
33       12       18
34       61       66
35      540      530
36      537      547
37     1199     1208

In [5]:
print(magew["Stadtteilname"])

0               Altstadt
1                 Werder
2          Alte Neustadt
3          Neue Neustadt
4         Neustädter See
5            Kannenstieg
6        Neustädter Feld
7             Sülzegrund
8               Nordwest
9         Alt Olvenstedt
10        Neu Olvenstedt
11         Stadtfeld Ost
12        Stadtfeld West
13              Diesdorf
14             Sudenburg
15           Ottersleben
16              Lemsdorf
17      Leipziger Straße
18                Reform
19          Hopfengarten
20     Beyendorfer Grund
21                Buckau
22          Fermersleben
23                Salbke
24           Westerhüsen
25             Brückfeld
26     Berliner Chaussee
27                Cracau
28               Prester
29            Zipkeleben
30            Herrenkrug
31             Rothensee
32        Industriehafen
33    Gewerbegebiet Nord
34          Barleber See
35                Pechau
36     Randau-Calenberge
37      Beyendorf-Sohlen
Name: Stadtteilname, dtype: object

In [6]:
magew.describe()

,Stadtteil-Nr.,EW_2004,EW_2005,EW_2006,EW_2007,EW_2008,EW_2009,EW_2010,EW_2011,EW_2012,EW_2013,EW_2014,EW_2015,EW_2016,EW_2017
count,38.000000,38.000000,36.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000
mean,39.026316,5959.368421,6350.027778,6041.210526,6042.921053,6032.447368,6047.210526,6078.394737,6095.263158,6122.631579,6149.184211,6180.473684,6268.736842,6345.631579,6362.342105
std,23.356794,5845.453685,5900.783936,5950.279508,5977.628656,5986.358211,6013.410437,6081.919521,6112.398453,6136.662137,6182.073412,6201.755618,6280.828637,6343.018530,6373.678650
min,1.000000,5.000000,11.000000,4.000000,5.000000,4.000000,5.000000,3.000000,10.000000,8.000000,9.000000,7.000000,8.000000,8.000000,8.000000
25%,20.500000,1396.750000,2100.750000,1404.250000,1383.000000,1376.250000,1403.000000,1405.250000,1419.250000,1415.250000,1422.500000,1404.250000,1404.250000,1462.500000,1466.000000
50%,39.000000,3681.500000,4040.500000,3676.000000,3678.500000,3626.500000,3670.000000,3679.500000,3683.000000,3691.500000,3706.000000,3728.500000,3738.000000,3763.000000,3793.000000
75%,57.500000,9819.750000,10454.250000,10007.750000,10135.000000,10131.250000,10256.000000,10362.500000,10432.750000,10518.000000,10551.250000,10552.500000,10774.750000,11051.000000,11206.500000
max,78.000000,22225.000000,22912.000000,23506.000000,23923.000000,24170.000000,24363.000000,25180.000000,25443.000000,25558.000000,25735.000000,25764.000000,25958.000000,26116.000000,26291.000000